*.pem
dsf_hub_federation_ssh_key
dsf_hub_federation_ssh_key.pub
dsf_hub_ssh_key
dsf_hub_ssh_key.pub
**/.terraform/*
*terraform.tfstate
*terraform.tfstate.backup
*.svg
*terraform.tfvars
*backend.tf
*gitignore*
*.terraform*
*.DS_Store
*ssh_keys*
*tmp-*
**/tmp/
generate_token.sh
hub_token
myip-default
.idea
*.mprv
__pycache__/
upgrade_status.json
