name: 'Nightly Manager'

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 20 * * *'

permissions:
  contents: read

jobs:

  master_single_account:
    uses: imperva/dsfkit/.github/workflows/sonar_single_account_cli.yml@master
    with:
      branch: master
    secrets:
      AWS_ACCESS_KEY_ID_STAGE: ${{ secrets.AWS_ACCESS_KEY_ID_STAGE }}
      AWS_SECRET_ACCESS_KEY_STAGE: ${{ secrets.AWS_SECRET_ACCESS_KEY_STAGE }}
      JUMP_SERVER_KEY: ${{ secrets.JUMP_SERVER_KEY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      DEPLOYMENT_TAGS: ${{ vars.DEPLOYMENT_TAGS }}

  master_multi_account:
    uses: imperva/dsfkit/.github/workflows/sonar_multi_account_cli.yml@master
    with:
      branch: master
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ACCESS_KEY_ID_STAGE: ${{ secrets.AWS_ACCESS_KEY_ID_STAGE }}
      AWS_SECRET_ACCESS_KEY_STAGE: ${{ secrets.AWS_SECRET_ACCESS_KEY_STAGE }}
      JUMP_SERVER_KEY: ${{ secrets.JUMP_SERVER_KEY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      DEPLOYMENT_TAGS: ${{ vars.DEPLOYMENT_TAGS }}

  master_dsf_single_account:
    uses: imperva/dsfkit/.github/workflows/dsf_single_account_cli.yml@master
    with:
      branch: master
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ACCESS_KEY_ID_STAGE: ${{ secrets.AWS_ACCESS_KEY_ID_STAGE }}
      AWS_SECRET_ACCESS_KEY_STAGE: ${{ secrets.AWS_SECRET_ACCESS_KEY_STAGE }}
      JUMP_SERVER_KEY: ${{ secrets.JUMP_SERVER_KEY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      DAM_LICENSE: ${{ secrets.DAM_LICENSE }}
      DEPLOYMENT_TAGS: ${{ vars.DEPLOYMENT_TAGS }}

  master_dsf_poc:
    uses: imperva/dsfkit/.github/workflows/dsf_poc_cli.yml@master
    with:
      use_modules_from_terraform_registry: true
      explicit_ref: master
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      DAM_LICENSE: ${{ secrets.DAM_LICENSE }}
      ALLOWED_SSH_CIDRS: ${{vars.ALLOWED_SSH_CIDRS }}
      DEPLOYMENT_TAGS: ${{ vars.DEPLOYMENT_TAGS }}
      PASSWORD: ${{ secrets.PASSWORD }}

  dev_dsf_poc:
    uses: imperva/dsfkit/.github/workflows/dsf_poc_cli.yml@dev
    with:
      use_modules_from_terraform_registry: false
      explicit_ref: dev
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      DAM_LICENSE: ${{ secrets.DAM_LICENSE }}
      ALLOWED_SSH_CIDRS: ${{vars.ALLOWED_SSH_CIDRS }}
      DEPLOYMENT_TAGS: ${{ vars.DEPLOYMENT_TAGS }}
      PASSWORD: ${{ secrets.PASSWORD }}

  master_dsf_poc_azure:
    uses: imperva/dsfkit/.github/workflows/dsf_poc_cli_azure.yml@master
    with:
      use_modules_from_terraform_registry: true
      explicit_ref: master
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      DAM_LICENSE: ${{ secrets.DAM_LICENSE }}
      ALLOWED_SSH_CIDRS: ${{ vars.ALLOWED_SSH_CIDRS }}

  dev_dsf_poc_azure:
    uses: imperva/dsfkit/.github/workflows/dsf_poc_cli_azure.yml@dev
    with:
      use_modules_from_terraform_registry: false
      explicit_ref: dev
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      DAM_LICENSE: ${{ secrets.DAM_LICENSE }}
      ALLOWED_SSH_CIDRS: ${{ vars.ALLOWED_SSH_CIDRS }}

  master_sonar_upgrade:
    uses: imperva/dsfkit/.github/workflows/sonar_upgrade.yml@master
    with:
      use_modules_from_terraform_registry: true
      explicit_ref: master
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      DAM_LICENSE: ${{ secrets.DAM_LICENSE }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      DEPLOYMENT_TAGS: ${{ vars.DEPLOYMENT_TAGS }}

  dev_sonar_upgrade:
    uses: imperva/dsfkit/.github/workflows/sonar_upgrade.yml@dev
    with:
      use_modules_from_terraform_registry: false
      explicit_ref: dev
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      DAM_LICENSE: ${{ secrets.DAM_LICENSE }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      DEPLOYMENT_TAGS: ${{ vars.DEPLOYMENT_TAGS }}
