name: 'Sonar Upgrade Flow'

on:
  workflow_call:
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      SLACK_WEBHOOK_URL:
        required: true
      DAM_LICENSE:
        required: true
  workflow_dispatch:

  push:
    branches:
      - 'master'
      - 'dev'
    paths:
      - 'modules/aws/sonar-upgrader/**'
      - 'examples/aws/sonar_upgrade/*'

  pull_request:
    types:
      - 'opened'
      - 'reopened'
    branches:
      - 'master'
      - 'dev'
    paths:
      - 'modules/aws/sonar-upgrader/**'
      - 'examples/aws/sonar_upgrade/*'

permissions:
  contents: read

jobs:
  sonar_upgrade_unit_tests:
    uses: ./.github/workflows/sonar_upgrade_unit_tests.yml
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  sonar_upgrade:
    needs: sonar_upgrade_unit_tests
    uses: ./.github/workflows/sonar_upgrade.yml
    with:
      use_modules_from_terraform_registry: false
      explicit_ref: '' # current branch
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      DAM_LICENSE: ${{ secrets.DAM_LICENSE }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
