name: 'Nightly Manager'

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 20 * * *'

permissions:
  contents: read

jobs:
  dev_poc:
    uses: imperva/dsfkit/.github/workflows/terraform_simple_cli_nightly.yml@dev
    with:
      branch: dev
      workspace: simple_cli_dev_nightly
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  master_poc:
    uses: imperva/dsfkit/.github/workflows/terraform_simple_cli_nightly.yml@master
    with:
      branch: master
      workspace: simple_cli_master_nightly
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  dev_installation:
    uses: imperva/dsfkit/.github/workflows/terraform_installation_examples.yml@dev
    with:
      branch: dev
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_STAGE }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_STAGE }}
      JUMP_SERVER_KEY: ${{ secrets.JUMP_SERVER_KEY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  master_installation:
    needs: dev_installation
    uses: imperva/dsfkit/.github/workflows/terraform_installation_examples.yml@master
    with:
      branch: master
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_STAGE }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_STAGE }}
      JUMP_SERVER_KEY: ${{ secrets.JUMP_SERVER_KEY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
