#!/bin/bash
set -x

cookie_file=$(mktemp)
response_file=$(mktemp)

trap "curl -k -s --cookie $cookie_file --request DELETE https://${mx_address}:8083/SecureSphere/api/v1/auth/session; rm -f $cookie_file $response_file" EXIT

http_code=$(curl -k -s --cookie-jar $cookie_file -o $response_file -w "%%{http_code}" \
  --request POST 'https://${mx_address}:8083/SecureSphere/api/v1/auth/session' \
  --header "Authorization: Basic ${https_auth_header}")
if [ "$http_code" -eq 200 ]; then
    exit 0
fi